<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="//g.alicdn.com/aliyun/console/1.4.15/styles/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="//g.alicdn.com/aliyun/console/1.4.15/styles/thirdparty/??jquery-topbar.css,jquery-sidebar.css">
  <script src="//g.alicdn.com/??aliyun/aliyun-common/0.0.7/js/jquery.min.js"></script>
  <title>XXX 控制台</title>
  <!-- 语言字典文件 -->
  <script src="./static/i18n/messages_zh.js"></script>
</head>
<body>
  <script src="//g.alicdn.com/aliyun/console/1.4.15/scripts/thirdparty/??jquery-topbar.js,jquery-sidebar.js"></script>
  <div id="app"></div>
  <!--<script src="../build/mainifest.js"></script>-->
  <!--<script src="../build/vendor.js"></script>-->
  <!-- <script src="../build/app.js"></script> -->
</body>
</html>
